<?xml version="1.0"?>
<root>
	<network>
		<server>irc.freenode.net</server>
		<nick></nick>
		<nickserv></nickserv>
		<channel></channel> 
		<cmdchar>!</cmdchar>
	</network>
	<misc>
		<!--Note: admins should be a list of admins, separated by a '/'.-->
		<admins>csssuf/nickthename</admins>
		<hasreadconfig>0</hasreadconfig>
	</misc>
	<game>
		<votetimelimit>5</votetimelimit>
	</game>
</root>
