[network]
server=irc.freenode.net
nick=
nickserv=
channel=
[misc]
#Note: admins should be a list of admins, separated by a '/'.-->
admins=csssuf/nickthename
hasreadconfig=0
cmdchar=!
[game]
votetimelimit=10
confirmtimelimit=30
#Currently unused, maybe in the future-->
jointimelimit=99
[gamemodes]
maxplayers=
minplayers=
#First num is hasnight no/yes, rest are role ids
#4=0/3/3/3/4
