<?xml version="1.0"?>
<root>
  <network>
    <server>irc.freenode.net</server>
    <nick></nick>
    <channel></channel>
  </network>
  <misc>
    <hasreadconfig>false</hasreadconfig>
  </misc>
</root>
